@import '../../partials/colors.scss';
@import '../../partials/sizes.scss';
@import '../../partials/fonts.scss';
@import '../../FontSize.scss';
@import '../../Breakpoints.scss';

.worker-information-skills {
  position: relative;
  max-width: 320px;
  width: auto;
  padding: $space-size-big;

  @include media(tablet){
    max-width: 50%;
  }
  
  &__title {
    margin: $space-size-extra-small 0;
    font-weight: 400;
    @include font-size($font-size-normal);

    @include media(tablet) {
      @include font-size($font-size-normal);
    }
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    
    li {
      margin: $space-size-small 0;
      margin-right: $space-size-small;
      @include font-size($font-size-small);

      @include media(tablet) {
        @include font-size($font-size-normal);
      }  
    }
  }
}