@import "../../partials/colors.scss";
@import "../../partials/fonts.scss";
@import "../../partials/shadows.scss";
@import "../../FontSize.scss";
@import "../../partials/text.scss";
@import "../../partials/sizes.scss";

.ProfileProblems__container {
 position: relative;
 width: 100%;
 padding: $space-size-medium;
 margin: $space-size-medium 0;
 background: #fff;
 border-radius: 12px;
 box-shadow: $shadow-small;

 .ProfileProblems__icon--add {
  position: absolute;
  right: 3%;
  bottom: 6%;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  font-size: 42px;
  cursor: pointer;
 }
 hr {
    border: 1px solid $color-primary !important;
    border-radius: 3px !important;
    margin: $space-size-small 0 !important;
    @include media(tablet){
      border: 2px solid $color-primary !important;
    }
  }
}

.ProfileProblems__title {
 @include font-size($font-size-normal);
 font-weight: 500;
 color: $color-primary;

 @include media(tablet) {
  @include font-size($font-size-big);
 }

  
}
