@import "../../partials/colors.scss";
@import "../../partials/fonts.scss";
@import "../../partials/shadows.scss";
@import "../../FontSize.scss";
@import "../../partials/text.scss";
@import "../../partials/sizes.scss";

.HeaderProfileMenu__container_all {
  position: relative;
  width: auto;
  height:auto;
  padding: 0;
  margin: 0;
  @include media(tablet) {
    padding: $space-size-normal;
    margin: $space-size-small;
  }
}

.HeaderProfileMenu__container_nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background-color: #fff;
  box-shadow: $shadow-normal;
  overflow-y: scroll;
  border-radius: 12px;

  &--active {
    width: 360px;
    height: auto;
    z-index: 20;
    top: 25px;
    right: 30px;
    padding: $space-size-medium $space-size-big;
  }
}



.HeaderProfileMenu__container {
  width: 100%;
  padding: $space-size-medium;

 hr {
  color: $color-primary;
  border: 1px solid $color-primary !important;
  border-radius: 3px;

  @include media(tablet) {
    border: 1px solid $color-primary !important;
  }
 }
}

.HeaderProfileMenu--name {
  @include font-size($font-size-normal);
 color: $color-primary;

 span {
  font-family: $font-secondary;
  font-style: italic;
  font-weight: 200;
  color: $color-black-60;
  @include font-size($font-size-small);
 }
}

.HeaderProfileMenu--profileImg {
 position: relative;
 width: 54px;
 height: 54px;
 border-radius: 50%;
 border: 3px solid $color-primary;
 cursor: pointer;
 z-index: 21;
 overflow: hidden;
 margin: 0;


 & img {
  object-fit: cover;
  width: 100%;
  height: 100%;
 }
}

.HeaderProfileMenu__nav--ul {
 display: flex;
 flex-direction: column;
 justify-content: space-between;

 li {
  @include font-size($font-size-normal);
  padding: $space-size-small;
  border-top: 1px solid $color-black-30;
 }

 li:last-of-type {
  border-bottom: 1px solid $color-black-30;
 }
}
.nav__ul--link {
 color: #0a3525;
}

.nav__ul--link:hover,
.nav__ul--link:active {
 color: $color-primary;
}

.HeaderProfileMenu__logout {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 color: #0a3525;
 padding: $space-size-small;
 font-weight: 700;
 @include font-size($font-size-small);
 cursor: pointer;

 svg {
  width: 21px;
  height: auto;
  font-weight: 200;
  color: #b9b9bf;
 }
}

.HeaderProfileMenu__footer {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.HeaderProfileMenu__footer--terms {
 font-style: italic;
 color: $color-black-60;
 @include font-size($font-size-small);

 a {
  color: $color-black-60;
 }

 a:hover {
  color: $color-primary;
 }
}

.HeaderProfileMenu__footer--logo {
 @include font-size($font-size-normal);
 color: $color-primary;
 text-align: center;

 @include media(tablet) {
  position: absolute;
  @include font-size($font-size-large);
 }
}
