@import "../../partials/colors.scss";
@import "../../partials/fonts.scss";
@import "../../FontSize.scss";
@import "../../partials/text.scss";
@import "../../partials/sizes.scss";

.PostProblem__title {
  margin-top: 60px;
  letter-spacing: 3px;
  color: $color-black-90;
  @include font-size($font-size-big)
}

.PostProblem__price__schedule {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.PostProblem__price, .PostProblem__schedule {
  font-weight: 800;
  color: $color-black-90;
  @include font-size($font-size-medium);

  span {
    color: $color-primary;
    @include font-size($font-size-normal + 3);
    text-decoration: underline;
  }
}

.PostProblem__optional--tile {
  font-weight: 800;
  margin-top: 35px;
  color: $color-black-90;
  @include font-size($font-size-medium);
}

.PostProblem__input {
  height: 164px;
  max-height: 164px;
  width: 100% !important;
  padding: 16px 30px;
  font-style: italic;
  font-weight: 200;
  color: $color-black-60;
  margin-top: 20px;
  margin-bottom: 30px;
  @include font-size($font-size-normal + 8);
}

.PostProblem__buttons {
  button {
   width: fit-content !important;
   border-radius: 30px;
   font-weight: 800;
   font-style: normal;
   @include font-size($font-size-normal + 8);
   cursor: pointer;
  }
 
  button:first-of-type {
   padding: 0 100px;
   background-color: $color-primary;
   margin-right: 25px;
   box-shadow: 0px 1px 18px 6px rgba(38, 211, 149, 0.12);
   color: #fff;
  }
 
  button:first-of-type:hover {
   color: $color-black-60;
   border: 1px solid $color-primary;
   background-color: #fff;
  }
 
  button:last-of-type {
   padding: 0 40px;
   border: 1px solid $color-primary;
   box-sizing: border-box;
   border-radius: 30px;
   color: $color-black-60;
  }
 
  button:last-of-type:hover {
   color: #fff;
   background-color: $color-primary;
  }
 }
