@import '../../partials/colors.scss';
@import '../../partials/fonts.scss';
@import '../../FontSize.scss';
@import '../../partials/shadows.scss';


.card {
    display: flex;
    width: 640px;
    height: 268px;
    box-shadow: $shadow-normal;
    font-family: $font-secondary;
    border-radius: 12px;
    padding: 20px 30px 20px 20px;


    &__profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 39px;
        .card__profile--img {
            width: 118px;
            height: 118px;
            margin-top: 10px;
        }

        
        .card__profile--stars {
            padding-top: 11px;
            width: 130px;
            font-size: 21px;
            color: $color-black-30;
            display: flex;
            justify-content: space-evenly;
        }
        .card__profile--btn {
            width: 120px;
            height: 36px;
            font-style: italic;
            font-weight: 300;
            font-size: 21px;
            line-height: 25px;
            letter-spacing: 0.03em;
            margin-top: 19px;

        }
    }
    &__description {
        display: flex;
        flex-direction: column;
        h1 {
            color: $color-primary;
            font-style: normal;
            font-weight: 500;
            font-size: 42px;
            line-height: 49px;
            letter-spacing: 0.03em;
        }
        .card__description--subtitle {
            color:$color-black-60;
            font-style: italic;
            font-weight: 200;
            font-size: 30px;
            line-height: 35px;
            letter-spacing: 0.03em;
            margin-top: 0px;
        }
        p {
            color: rgba(23, 23, 40, 0.6);
            font-style: italic;
            font-weight: 200;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.03em;
            margin-top: 15px;
        }
    }
}