@import "../../partials/colors.scss";
@import "../../partials/fonts.scss";
@import "../../FontSize.scss";
@import "../../partials/text.scss";
@import "../../partials/sizes.scss";

.Footer__container {
  width: 100%;
  text-align: center;
  line-height: 50px;

  a {
    color: $color-black-60;
    font-weight: 200;
    font-style: italic;
  }

  p:first-of-type a:hover {
    color: $color-primary;
  }
}

.Footer__logo {
  margin-bottom: 15px;
  color: $color-primary;
}
