@import '../../partials/colors.scss';
@import '../../partials/fonts.scss';
@import '../../partials/shadows.scss';
@import '../../FontSize.scss';
@import '../../partials/sizes.scss';
@import '../../Breakpoints.scss';

.button {
    height: 42px;
    width: 150px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: $shadow-extra-small;
    @include font-size($font-size-normal);

    @include media(tablet) {
        height: 42px;
        width: 180px;
    }
}

.button__primary {
    background-color: $color-primary;
    color: $color-white;
    transition: .3s ease-in-out;
    box-shadow: $shadow-normal-green;
    &:hover {
        background-color: $color-primary-60;
        box-shadow: $shadow-large-green;
    }
}
.button__secondary {
    border: 1px solid $color-primary;
    background-color: $color-background;
    color: $color-black-60;
    transition: .3s ease-in-out;
    &:hover {
        background-color: $color-primary-30;
        color: $color-black-30;
        box-shadow: $shadow-normal-green;
    }
}