@import '../../partials/colors.scss';
@import '../../partials/shadows.scss';

.button-actionSA {
    background-color: $color-background;
    border-radius: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-primary;
    box-shadow: $shadow-normal;
}