@import '../../partials/colors.scss';
@import '../../partials/fonts.scss';
@import '../../partials/shadows.scss';
@import '../../partials/sizes.scss';
@import '../../partials/spacing.scss';
@import '../../partials/text.scss';

.button__container {
    display: flex;
    padding: 10px;
    height: 100vh;
}