@import '../../partials/colors.scss';
@import '../../partials/fonts.scss';
@import '../../partials/shadows.scss';
@import '../../partials/sizes.scss';
@import '../../partials/spacing.scss';
@import '../../partials/text.scss';

.container__test {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    margin: 20px auto;
    border: 1px solid $color-primary
}
.julio__components__test {
    padding: 50px;
    display: block;
}

