@import '../../partials/colors.scss';
@import '../../partials/sizes.scss';
@import '../../Breakpoints.scss';

.message {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  margin: $space-size-normal;

  &--user{
    box-sizing: border-box;
    margin: $space-size-normal;
    justify-content: flex-end;
  }

  &__photo {
    padding: 0;
    margin: 0;
    margin-right: $space-size-normal; 
  }

  &__content {
    box-sizing: border-box;
    min-width: 100px;
    width: 60%;
    height: auto;

    @include media(tablet) {
      width: 80%;
    }

    &--msg {
      height: auto;
      padding: $space-size-small;
      border-radius: $space-size-normal;
      background-color: $color-black-10;

      & strong {
        @include font-size($font-size-normal);
      }

      & p{
        padding: $space-size-extra-small 0;
        @include font-size($font-size-normal);
      }
    }


  }

  &__content--user {
    border-radius: $space-size-normal;
    background-color: $color-primary-90;
    
    & .message__content--msg {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
      text-align: center;
      color: $color-white;
    }

  }

}
