@import './partials/fonts.scss';
@import './reboot.scss';

@import './Media.scss';
@import './Vars.scss';

@import './partials/sizes.scss';
@import './partials/spacing.scss';
@import './partials/colors.scss';
@import './partials/shadows.scss';
@import './partials/text.scss';


:root {
  --color-primary: $color-primary;
  --color-black: $color-black;
  --color-white: $color-white;
  --color-background: $color-background;
}
