@import './partials/fonts.scss';
@import './reboot.scss';

@import './FontSize.scss';
@import './partials/sizes.scss';
@import './Media.scss';
@import './Vars.scss';

// Mixins
@import './Breakpoints.scss';

@import './partials/sizes.scss';
@import './partials/spacing.scss';
@import './partials/colors.scss';
@import './partials/shadows.scss';
@import './partials/text.scss';
@import './partials/inputs.scss';
@import './partials/buttons.scss';

:root {
  --color-primary: $color-primary;
  --color-black: $color-black;
  --color-white: $color-white;
  --color-background: $color-background;
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: $color-background;
}
