@import '../../partials/colors.scss';
@import '../../partials/sizes.scss';
@import '../../Breakpoints.scss';

.post-interactions {
  position: relative;
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  height: auto;
}
