@import '../../partials/sizes.scss';
@import '../../partials/colors.scss';
@import '../../Breakpoints.scss';

.problem-status-information {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  width: 100%;

  &__status-message {
    display: flex;
    flex-flow: column nowrap;
    padding: $space-size-normal 0;
    
  }
}
